<br />
<h3>Users</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 striped full-width">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="star">
        <th mat-header-cell *matHeaderCellDef class="alnright">
            <button mat-button color="primary" (click)="openDialog(element, 'add')"><i
                    class="material-icons">add_circle_outline</i> Add User</button>
        </th>
        <td mat-cell *matCellDef="let element" class="alnright">
            <i class="material-icons cursor-pointer" (click)="openDialog(element, 'update')">system_update_alt</i>
            <i class="material-icons cursor-pointer" (click)="openDialog(element, 'remove')">delete</i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>